<h2>List of questions</h2>
<ul class="questions">
  <li *ngFor="let question of questions">
    <a routerLink="/detail/{{question.questionId}}">
      <span class="badge">{{question.questionId}}</span> {{question.title}}
    </a>
    <button type="button" class="delete" title="delete question"
            (click)="delete(question)">x</button>
  </li>
</ul>

<label for="new-question">Type new question here: </label>
<input id="new-question" #questionName />

<!-- (click) passes input value to add() and then clears the input -->
<button type="button" class="add-button" (click)="add(questionName.value); questionName.value=''">
  Add question
</button>

