<div *ngIf="answer">
  <h2>Details to: {{answer.text | uppercase}} </h2>
  <div>id: {{answer.text}}</div>
  <div>
    <label for="question-title">Question title: </label>
    <input id="question-title" [(ngModel)]="answer.id" placeholder="Title">
<!--    <label for="question-text">Question text: </label>-->
<!--    <input id="question-text" [(ngModel)]="question.text" placeholder="Text">-->
<!--    <label for="question-author">Author: </label>-->
<!--    <input id="question-author" [(ngModel)]="question.author" placeholder="Author">-->
<!--    <label for="question-creation-time">Creation date: </label>-->
<!--    <input id="question-creation-time" [(ngModel)]="question.creationDateTime" placeholder="Creation date time">-->
<!--    <label for="question-vote">Vote count: </label>-->
<!--    <input id="question-vote" [(ngModel)]="question.voteCount" placeholder="Vote count">-->
  </div>
</div>
<button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button>
